---
import '../styles/index.css'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body class='flex flex-col'>
    <div class='flex gap-4 p-6 text-sm font-medium bg-gray-200'>
      <a href='/components/data'>Data Components</a>
      <a href='/components/feedback'>Feedback Components</a>
      <a href='/components/input'>Input Components</a>
      <a href='/components/layout'>Layout Components</a>
      <a href='/components/navigation'>Navigation Components</a>
      <a href='/components/surface'>Surface Components</a>
    </div>
    <div class='flex flex-col items-start gap-4 p-6 pb-32'>
      <slot />
    </div>
  </body>
</html>
