aracna-accordion,
aracna-alert-dialog,
aracna-alert,
aracna-avatar,
aracna-badge,
aracna-breadcrumb,
aracna-button,
aracna-carousel,
aracna-checkbox,
aracna-dialog,
aracna-disclosure,
aracna-divider,
aracna-feed,
aracna-form,
aracna-icon,
aracna-image,
aracna-input,
aracna-input-file,
aracna-menu,
aracna-meter,
aracna-navigation-bar,
aracna-radio-group,
aracna-select,
aracna-slider,
aracna-switch,
aracna-tabs,
aracna-textarea,
aracna-tooltip {
  opacity: 0;
}

aracna-accordion:defined,
aracna-alert-dialog:defined,
aracna-alert:defined,
aracna-avatar:defined,
aracna-badge:defined,
aracna-breadcrumb:defined,
aracna-button:defined,
aracna-carousel:defined,
aracna-checkbox:defined,
aracna-dialog:defined,
aracna-disclosure:defined,
aracna-divider:defined,
aracna-feed:defined,
aracna-form:defined,
aracna-icon:defined,
aracna-image:defined,
aracna-input:defined,
aracna-input-file:defined,
aracna-menu:defined,
aracna-meter:defined,
aracna-navigation-bar:defined,
aracna-radio-group:defined,
aracna-select:defined,
aracna-slider:defined,
aracna-switch:defined,
aracna-tabs:defined,
aracna-textarea:defined,
aracna-tooltip:defined {
  opacity: 1;
}

html {
  background: white;
  filter: invert(1);
}
