q-accordion,
q-alert-dialog,
q-alert,
q-avatar,
q-badge,
q-breadcrumb,
q-button,
q-carousel,
q-checkbox,
q-dialog,
q-disclosure,
q-divider,
q-feed,
q-form,
q-icon,
q-image,
q-input,
q-input-file,
q-menu,
q-meter,
q-navigation-bar,
q-radio-group,
q-select,
q-slider,
q-switch,
q-tabs,
q-textarea,
q-tooltip {
  opacity: 0;
}

q-accordion:defined,
q-alert-dialog:defined,
q-alert:defined,
q-avatar:defined,
q-badge:defined,
q-breadcrumb:defined,
q-button:defined,
q-carousel:defined,
q-checkbox:defined,
q-dialog:defined,
q-disclosure:defined,
q-divider:defined,
q-feed:defined,
q-form:defined,
q-icon:defined,
q-image:defined,
q-input:defined,
q-input-file:defined,
q-menu:defined,
q-meter:defined,
q-navigation-bar:defined,
q-radio-group:defined,
q-select:defined,
q-slider:defined,
q-switch:defined,
q-tabs:defined,
q-textarea:defined,
q-tooltip:defined {
  opacity: 1;
}

html {
  background: white;
  filter: invert(1);
}
