q-aria-accordion,
q-aria-alert-dialog,
q-aria-alert,
q-aria-breadcrumb,
q-aria-button,
q-aria-carousel,
q-aria-combo-box,
q-aria-dialog,
q-aria-disclosure,
q-aria-feed,
q-aria-link,
q-aria-listbox,
q-aria-menubar,
q-aria-menu,
q-aria-radio-group,
q-aria-slider,
q-aria-switch,
q-aria-tabs,
q-aria-tooltip,
q-avatar,
q-badge,
q-navigation-bar,
q-navigation-bar-item,
q-button,
q-checkbox,
q-divider,
q-form,
q-icon,
q-image,
q-input,
q-input-file,
q-meter,
q-select,
q-textarea {
  opacity: 0;
}

q-aria-accordion:defined,
q-aria-alert-dialog:defined,
q-aria-alert:defined,
q-aria-breadcrumb:defined,
q-aria-button:defined,
q-aria-carousel:defined,
q-aria-combo-box:defined,
q-aria-dialog:defined,
q-aria-disclosure:defined,
q-aria-feed:defined,
q-aria-link:defined,
q-aria-listbox:defined,
q-aria-menubar:defined,
q-aria-menu:defined,
q-aria-radio-group:defined,
q-aria-slider:defined,
q-aria-switch:defined,
q-aria-tabs:defined,
q-aria-tooltip:defined,
q-avatar:defined,
q-badge:defined,
q-navigation-bar:defined,
q-navigation-bar-item:defined,
q-button:defined,
q-checkbox:defined,
q-divider:defined,
q-form:defined,
q-icon:defined,
q-image:defined,
q-input:defined,
q-input-file:defined,
q-meter:defined,
q-select:defined,
q-textarea:defined {
  opacity: 1;
}
