---
import { AriaAccordion } from '../components/aria/AriaAccordion'
import { AriaAlertDialog } from '../components/aria/AriaAlertDialog'
import { AriaBreadcrumb } from '../components/aria/AriaBreadcrumb'
import { AriaCarousel } from '../components/aria/AriaCarousel'
import { AriaComboBox } from '../components/aria/AriaComboBox'
import { AriaDialog } from '../components/aria/AriaDialog'
import { AriaDisclosure } from '../components/aria/AriaDisclosure'
import { AriaFeed } from '../components/aria/AriaFeed'
import { AriaListBox } from '../components/aria/AriaListBox'
import { AriaMenu } from '../components/aria/AriaMenu'
import { AriaMenuBar } from '../components/aria/AriaMenuBar'
import { AriaRadioGroup } from '../components/aria/AriaRadioGroup'
import { AriaSlider } from '../components/aria/AriaSlider'
import { AriaTabs } from '../components/aria/AriaTabs'
import { AriaTooltip } from '../components/aria/AriaTooltip'
import { Avatar } from '../components/Avatar'
import { Badge } from '../components/Badge'
import { Button } from '../components/Button'
import { CheckBox } from '../components/CheckBox'
import { Chip } from '../components/Chip'
import { Divider } from '../components/Divider'
import { Form } from '../components/Form'
import { Icon } from '../components/Icon'
import { Image } from '../components/Image'
import { Input } from '../components/Input'
import { InputFile } from '../components/InputFile'
import { Meter } from '../components/Meter'
import { NavigationBar } from '../components/NavigationBar'
import { Select } from '../components/Select'
import { Switch } from '../components/Switch'
import { TextArea } from '../components/TextArea'
import './index.css'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Queelag Web - Playground</title>
  </head>
  <body class='flex flex-col items-start gap-4 p-6 pb-32'>
    <AriaMenuBar client:load />
    <AriaAccordion client:load />
    <AriaAlertDialog client:load />
    <AriaBreadcrumb client:load />
    <AriaCarousel client:load />
    <AriaComboBox client:load />
    <AriaDialog client:load />
    <AriaDisclosure client:load />
    <AriaFeed client:load />
    <AriaListBox client:load />
    <AriaMenu client:load />
    <AriaRadioGroup client:load />
    <AriaSlider client:load />
    <AriaTabs client:load />
    <AriaTooltip client:load />
    <Avatar client:load />
    <Badge client:load />
    <Button client:load />
    <CheckBox client:load />
    <Chip client:load />
    <Divider client:load />
    <Form client:load />
    <Icon client:load />
    <Image client:load />
    <Input client:load />
    <InputFile client:load />
    <Meter client:load />
    <NavigationBar client:load />
    <Select client:load />
    <Switch client:load />
    <TextArea client:load />
  </body>
</html>
