aracna-slider {
    height: 24px;
    width: 256px;

    &::before {
        content: '';
        background-color: lightgray;
        border-radius: 4px;
        height: 4px;
        left: 0;
        position: absolute;
        top: calc(24px / 2 - 1px);
        width: 100%;
    }
}

aracna-slider-thumb {
    background: black;
    border-radius: 24px;
    height: 24px;
    width: 24px;
}